<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--School的子类-->
    <bean id="school" class="com.dlkyy.ba06.School">
        <property name="name" value="夹滩中学"/>
        <property name="address" value="夹滩"/>
    </bean>
</beans>